
@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@keyframes rotateReverse{
    from{transform:rotate(360deg);}
    to{transform:rotate(0deg);}
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

@keyframes fadeUp{

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-25px);

}

100%{

transform:translateY(0);

}

}
@keyframes rotate1{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}

@keyframes rotate2{

from{
transform:rotate(360deg);
}

to{
transform:rotate(0deg);
}

}


@keyframes bounce{
    0%,20%,50%,80%,100%{
        transform:translateY(0);
    }
    40%{
        transform:translateY(-10px);
    }
    60%{
        transform:translateY(-5px);
    }
}

@keyframes rotateGlow{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}

@keyframes spinReverse{

from{

transform:rotate(360deg);

}

to{

transform:rotate(0deg);

}

}

@keyframes floating{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-12px);
    }
    100%{
        transform:translateY(0px);
    }
}

.image-wrapper{
    animation:floating 4s ease-in-out infinite;
}

.fade-up{

    opacity:0;

    transform:translateY(40px);

    animation:fadeUp .8s forwards;

}

.cursor{
    color:#A855F7;
    animation:blink .8s infinite;
}


#loader{

    position:fixed;

    inset:0;

    background:#090913;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.spinner{

    width:70px;

    height:70px;

    border:6px solid #2d2d44;

    border-top:6px solid #A855F7;

    border-radius:50%;

    animation:spin 1s linear infinite;

}
