{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="container mt-4">

    <div class="alert alert-success">

        {{ messages[0] }}

    </div>

</div>

{% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prerna Tupsoundar | Portfolio</title>

    
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

 
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="loader">
        <div class="spinner"></div>
    </div>

    {% include 'components/navbar.html' %}

{% include 'components/hero.html' %}


{% include 'components/stats.html' %}

{% include 'components/about.html' %}

{% include 'components/skills.html' %}

{% include 'components/projects.html' %}

{% include 'components/experience.html' %}

{% include 'components/education.html' %}

{% include 'components/contact.html' %}

{% include 'components/footer.html' %}

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script>
AOS.init({
    duration:1000,
    once:true,
    offset: 120

});
</script>

<button id="topBtn">
    <i class="bi bi-arrow-up"></i>
</button>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='js/typing.js') }}"></script>

<script src="{{ url_for('static', filename='js/counter.js') }}"></script>

<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>

<script src="{{ url_for('static', filename='js/loader.js') }}"></script>

</body>
</html>