<section class="contact section-padding" id="contact" data-aos="fade-up">

    <div class="container">

        <div class="text-center mb-5">

            <span class="section-subtitle">CONTACT</span>

            <h2 class="section-title">
                Let's Work Together
            </h2>

        </div>

        <div class="row g-5">

            <!-- Contact Info -->

            <div class="col-lg-4 mb-4">

                <div class="contact-info">

                    <div class="contact-card">

                        <i class="bi bi-envelope-fill"></i>

                        <div>

                            <h5>Email</h5>

                            <p>prernatupsoundar074@gmail.com</p>

                        </div>

                    </div>

                    <div class="contact-card">

                        <i class="bi bi-github"></i>

                        <div>

                            <h5>GitHub</h5>

                            <p>github.com/prerna0003</p>

                        </div>

                    </div>

                    <div class="contact-card">

                        <i class="bi bi-linkedin"></i>

                        <div>

                            <h5>LinkedIn</h5>

                            <p>linkedin.com/in/prerna7403</p>

                        </div>

                    </div>

                    <div class="contact-card">

                        <i class="bi bi-geo-alt-fill"></i>

                        <div>

                            <h5>Location</h5>

                            <p>Pune, Maharashtra, India</p>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Contact Form -->

            <div class="col-lg-8">

                <form action="/contact" method="POST" class="contact-form">

                    <input type="text"
                           class="form-control"
                           placeholder="Your Name">

                    <input type="email"
                           class="form-control"
                           placeholder="Your Email">

                    <input type="text" name="subject"
                           class="form-control"
                           placeholder="Subject" required>

                    <textarea
                        name="message"
                        class="form-control"
                        rows="6"
                        placeholder="Your Message" required></textarea>

                    <button class="btn btn-purple mt-3 w-100">
                        Send Message
                    </button>

                </form>

            </div>

        </div>

    </div>

</section>