<section class="education section-padding" id="education" data-aos="fade-up">

    <div class="container">

        <div class="text-center mb-5">

            <span class="section-subtitle">
                EDUCATION
            </span>

            <h2 class="section-title">
                Academic Journey
            </h2>

        </div>

        <div class="row g-4">

            <div class="col-lg-4">

                <div class="edu-card">

                    <h4>B.Tech (AI & ML)</h4>

                    <p>Computer Science Engineering</p>

                    <small>2022 - 2026</small>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="edu-card">

                    <h4>Higher Secondary</h4>

                    <p>Science</p>

                    <small>2020 - 2022</small>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="edu-card">

                    <h4>Secondary School</h4>

                    <p>SSC</p>

                    <small>2019 - 2020</small>

                </div>

            </div>

        </div>

    </div>

</section>