<section class="experience section-padding" id="experience" data-aos="fade-up">

    <div class="container">

        <div class="text-center mb-5">
            <span class="section-subtitle">EXPERIENCE</span>
            <h2 class="section-title">My Journey</h2>
        </div>

        <div class="timeline">

            <div class="timeline-item">

                <div class="timeline-dot"></div>

                <div class="timeline-content">

                    <span class="timeline-date">
                        April 2026 - Present
                    </span>

                    <h3>Data Science Intern</h3>

                    <h5>CloudBlitz Technologies</h5>

                    <p>
                        Worked on Python, SQL, Data Analysis,
                        Flask development and Machine Learning projects.
                        Built interactive dashboards and web applications.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>