<footer class="footer">

    <div class="container">

        <div class="text-center">

            <h3>Prerna Tupsoundar</h3>

            <p>
                Python Developer • Data Analyst • Data Scientist • AI & Machine Learning Enthusiast

            <div class="social-icons justify-content-center">

                <a href="https://github.com/prerna0003" target="_blank">
<i class="bi bi-github"></i>
</a>

<a href="https://linkedin.com/in/prerna7403" target="_blank">
<i class="bi bi-linkedin"></i>
</a>

<a href="mailto:prernatupsoundar074@gmail.com">
<i class="bi bi-envelope-fill"></i>
</a>
            </div>

            <hr>

            <p>
                <span> Designed and Developed with &hearts;</span><br>
                © 2026 All Rights Reserved.
            </p>

        </div>

    </div>

</footer>