<section class="projects section-padding" id="projects" data-aos="zoom-in">

    <div class="container">

        <div class="text-center mb-5">
            <span class="section-subtitle">PORTFOLIO</span>
            <h2 class="section-title">Featured Projects</h2>
        </div>

        <div class="row g-4">

            <!-- Project 1 -->
            <div class="col-lg-6">

                <div class="project-card glass">

                    <div class="project-image">

                        <div class="project-placeholder ai-project">

    <div class="project-icon">
        <i class="bi bi-robot"></i>
    </div>

    <span class="project-type">
        AI PROJECT
    </span>

    <h3>
        Maritime Domain Awareness
    </h3>

</div>

                        <div class="project-buttons">

    <div class="project-links">

    <a href="https://github.com/prerna0003"
       target="_blank"
       class="btn btn-purple btn-outline-light btn-sm">

        <i class="bi bi-github"></i>
        Github

    </a>

    <a href="#"
       class="btn btn-purple btn-sm">

        Demo

    </a>

</div>

</div>

                    </div>

                    <div class="project-body">

                        <h3>Maritime Domain Awareness System</h3>

                        <p>
                            AI-powered ship detection system using
                            YOLOv8, Flask, OpenCV and GIS mapping.
                        </p>

                        <div class="project-tags">

    <span>
         Python
    </span>

    <span>
         Flask
    </span>

    <span>
        YOLOv8
    </span>

</div>
                    </div>

                </div>

            </div>

            <!-- Project 2 -->

            <div class="col-lg-6">

                <div class="project-card glass">

                    <div class="project-image">

                        <div class="project-placeholder ai-project">

    <div class="project-icon">
        <i class="bi bi-laptop"></i>
    </div>

    <span class="project-type">
        WEB PROJECT
    </span>

    <h3>Personal Portfolio Website</h3>

</div>

                       <div class="project-buttons">

   <div class="project-links">

    <a href="https://github.com/prerna0003"
       target="_blank"
       class="btn btn-purple btn-outline-light ">

        <i class="bi bi-github"></i>
        Github

    </a>

    <a href="#"
       class="btn btn-purple btn-sm">

        Demo

    </a>

</div>

</div>

                    </div>

                    <div class="project-body">

                        <h3>Portfolio CMS</h3>

                        <p>
                            Dynamic portfolio built using Flask,
                            Bootstrap and MySQL with Admin Panel.
                        </p>

                        <div class="project-tags">

                            <span>Flask</span>

                            <span>Bootstrap</span>

                            <span>MySQL</span>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>